.App {
  text-align: center;
  background-color: #203558;
  height: 100%;
  padding: 40px;
  color: #fff;
  font-size: 4rem;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}
.conditionalRendering {
  margin-bottom: 10%;
}
button {
  color: #fff;
  font-size: 2rem;
  background-color: transparent;
  cursor: pointer;
}
.counter_display {
  margin-bottom: 20px;
}
.counter_btn {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.counter_btn > button {
  flex: 1;
}
